.team{
    margin-bottom: 5rem;
}
.teamdetails h3{
    padding: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-size: 1.4rem;
    margin-left: 1.2rem;
    font-weight: 400;
}
.teamdetails h3 span{
    font-weight: 600;
}
.teamuser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
.message p{
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.message h3{
    margin-bottom: 0;
}